<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="appSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
    <section name="connectionStrings" type="System.Configuration.ConnectionStringsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" requirePermission="false"/>
  </configSections>

  <connectionStrings>
    <add name="DBCOREPR"
   connectionString="CENfwScV4VBa5E1RoHoZyu4D1Et3hnG29rW+oRjCIKbGhYl6KvcYN44VR6KD7XisJ9fHYEQkvQqiyp2TVf2Dz416wAz54JnmTKTfsim6yPkZvTPF+Xak0hM17gaUFw22st/FIz4xjA/pmr0maZg3Ny+TWgKfVdp+1Ms25m6fZkIkV5RVha1KSnxZFyB7DbIQbFi9KX8vn8+rZ+POg4SNvSaZj3g1B65VmBefp06opVSPCYSULwSgyDtmXzTOCklnpuwDsKrwQdh4yVdpEpm14WKboWGND7E66WRTSpUMOfSdpEs7jhW8+6n7enBDJzI5"
   providerName="Oracle.ManagedDataAccess.Client"/>

      <add name="TESTDBCOREPR"
     connectionString="CENfwScV4VBa5E1RoHoZyu4D1Et3hnG29rW+oRjCIKbGhYl6KvcYN44VR6KD7XisJ9fHYEQkvQqiyp2TVf2Dz6IoHpprH5rskQKfOEn85MEHFY4va4nwmp7j/HA0TFbpPGAWaB5tU6aTChRj7+1jy7vYXrE8CMg9tIcsTUuFXcTH+cFx/Ju8HsFcyznrRFKSlF2froykJ1EebkVUCbIDsFC53OoMqB3qZ55BTbaW38tD+U71IJd1PlFk7UauxnwZ"
     providerName="Oracle.ManagedDataAccess.Client"/>


    <add name="DBLOANPR"
    connectionString="CENfwScV4VBa5E1RoHoZyi2IxpjdDR/2UICYaf4NXB67VcEpA9MR6/dG52gXZK2UsesX/C+199RlLPiNEU34GYtHwR6ZWKVbNzc64BRshMOMNu++1OXw/8JROn1CZ3D8xWms1zTYbYCg5ir/K+Y9/dfRBPGF4fT3AXq46PUHXUoYSrI9rW8Jh7w1NRvfQ/NkxNVwC9Mtu+NzDSYskeQF1dAa9cv+lK4nBWaRJvo0in3Q6VwqAhY6fFANJBJTbBrkTUh8fCs6E3mF0DDCqh6Qxmdquuc21NsjgHLgqmJc1RA="
    providerName="Oracle.ManagedDataAccess.Client"/>

    <add name="DBTKART"
    connectionString="CENfwScV4VBa5E1RoHoZyi2IxpjdDR/2UICYaf4NXB67VcEpA9MR6/dG52gXZK2UsesX/C+199RlLPiNEU34GYtHwR6ZWKVbNzc64BRshMOMNu++1OXw/8JROn1CZ3D8xWms1zTYbYCg5ir/K+Y9/dfRBPGF4fT3AXq46PUHXUoYSrI9rW8Jh7w1NRvfQ/NkxNVwC9Mtu+NzDSYskeQF1aqe5H6Gga9olQibO5ZatbkrTz1VjKHrY6Kli29hVDtzDccabUy8LIMSduiP1TwHemBiganiYdikXW9QYoKNgZc="
    providerName="Oracle.DataAccess.Client"/>

    <add name="KRDKART"
    connectionString="CENfwScV4VBa5E1RoHoZyi2IxpjdDR/2UICYaf4NXB67VcEpA9MR6/dG52gXZK2UsesX/C+199RlLPiNEU34GYtHwR6ZWKVbNzc64BRshMOMNu++1OXw/8JROn1CZ3D8xWms1zTYbYCg5ir/K+Y9/dfRBPGF4fT3AXq46PUHXUoYSrI9rW8Jh7w1NRvfQ/NkxNVwC9Mtu+NzDSYskeQF1cFwWp/Ajpqak8/qRkT5oe6tn2Xhtgfbwd0DvqJbVCJWdNvxuup+xb2ZIaLTEfgaZuoBM8AwGW91HRn30QEFPPk="
    providerName="Oracle.DataAccess.Client"/>

    <add name="TESTKRDKART"
    connectionString="CENfwScV4VBa5E1RoHoZyi2IxpjdDR/2UICYaf4NXB67VcEpA9MR6/dG52gXZK2UsesX/C+199RlLPiNEU34GYFUDFUCwU4CNKbuopdpNETLPO2as1KKfEDWGz8MjXDeKg0RXqJ6nCxqYnmhVS8e908l4I8apb6ALhAL3wxR2wLa+zsVzfTaFdtV0zmPWTFTp7VNlS3P6yurvqVI1vi7WR9yA5/LTw54mbJ7KcVVbBPGx9mHBhyVzPkmLhHlplMb"
providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
</configuration>